body {
    margin:0;
    padding:0;
    font-family: 'Pangolin', cursive;
    color: teal;
}
* { color: inherit;}
.title {
    background-color:teal;
    color:white;
    font-size:50px;
    text-align: center;
}

.title h3{
    margin: 0;
}

.watermark-input h4{
    margin:0;
    padding:0;
}
.watermark-input {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.watermark-input input[type=text] {
    width: 120px;
    border: none;
    font-size: 23px;
}
.watermark-input input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid teal;
}

.container {
    display: flex;
}
.video {
    height: 100%;
}
.pic{
    flex-grow:1;
}
.take {
    background-color: transparent;
    color: darkolivegreen;
    outline: none;
    border:1px solid darkolivegreen;
    border-radius: 8px;
    font-size: 20px;
    padding: 2px;
    width: 120px;
}